* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}
.cards {
    margin: 0 auto;
    text-align: center;
}

.cards_main {
    width: calc(3231px / 5);
    height: calc(1562px / 5);
}
.card {
    width: calc(691px / 5);
    height: calc(1056px / 5);
    margin: 0 10px;
}
.card_wrap {
    display: flex;
    justify-content: center;
}
.butn {
    background: #34d947;
    background-image: -webkit-linear-gradient(top, #34d947, #ced92e);
    background-image: -moz-linear-gradient(top, #34d947, #ced92e);
    background-image: -ms-linear-gradient(top, #34d947, #ced92e);
    background-image: -o-linear-gradient(top, #34d947, #ced92e);
    background-image: linear-gradient(to bottom, #34d947, #ced92e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
}

.butn:hover {
    background: #fc3c3c;
    text-decoration: none;
}
.buttons {
    text-align: center;
    margin: 15px 0;
}
.results {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
div {
    font-size: 32px;
    font-weight: 700;
    margin-right: 40px;
    margin-left: 15px;
}
.counters_percentages {
    display: flex;
    justify-content: center;
}
.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 450px;
    width: 800px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(155,155,155, .8);
}
.you_lost p,
.congratulations p {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.congratulations_two_aces {
    border: 2px solid red;
}

.congratulations_two_aces p {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

.footer {
    text-align: right;
    margin-right: 15px;
}
.copyright {
    font-size: 16px;
}